<div class="alert alert-danger" hidden></div>
<h1>Boxes</h1>
<ul id="box_show" >
<% @box.each do |b| %>
  <li><%= link_to b[1], box_path(b[0]) %></li>
<% end %>
</ul>
<div id="add_box" >
<%= link_to "Add Box", new_box_path , remote: true %>
</div>