<div class="alert alert-danger" hidden></div>
<h1>Boxes</h1>
<ul id="box_show" >
<% @box.each do |b| %>
  <li><%= link_to b.name, box_path(b) %></li>
  <ul>
  <% b.drops.each do |d| %>
    <li><%= d.name %></li>
    <ul>
      <% d.entities.each do |e| %>
        <li><%= e.name %></li>
      <% end %>
    </ul>
  <% end %>
  </ul>
<% end %>
</ul>
<div id="add_box" >
<%= link_to "Add Box", new_box_path , remote: true%>
</div>